.qa-box {
  background-color: #efefef;
  border-radius: 30px;
  padding: 1rem !important;
  justify-content: center;
  margin-bottom: 3rem;
  width: auto;
  height: auto;
}

.qa-box h2 {
  margin-bottom: 3rem;
}
.p1 {
  font-size: 16px;
  color: #212121;
  font-weight: 500;
}
.p2 {
  font-size: 17px;
  color: #656565;
  font-weight: 400;
}
.qa-box input {
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  height: auto;
  width: auto;
}
input::placeholder {
  color: #999999;
}
.btn {
  border: 3px solid #94c66d !important;
  border-radius: 5px !important;
  width: auto !important;
  height: auto !important;
  text-transform: uppercase !important;
  font-weight: 650 !important;
  font-size: 19px !important;
  padding: 5px 40px !important;
  margin: 8px 0px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1)) !important;
  transition: all 0.5s ease !important;
}
.btn:hover {
  border: 3px solid #849e70 !important;
}
.p3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 117%;
}
@media (max-width: 768px) {
  .q-a-a input {
    max-width: 200px;
  }
}
