.footer {
  background-color: #dedede;
}
.footer p {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #656565;
}
ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

.right-li {
  margin-left: 30px !important;
}

.second-li {
  margin-bottom: 14px;
}

.icon {
  margin-right: 10px;
  margin-bottom: 14px;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

.contact-info-phone {
  margin-bottom: 40px;
}

.social .social-icons {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
}

.social .social-icons li {
  margin-right: 10px; /* Adjust the margin as needed */
}

.social .social-icons .icon {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}
.rights p {
  font-weight: 600;
  font-size: 13px;
  line-height: 24.38px;
  color: #939393;
}
